{#{% extends "TwigBundle::layout.html.twig" %}#}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/angular-csp.css') }}" />
{% endblock %}

<div ng-app="myApp" ng-cloak>
    {% block body %}{% endblock %}
</div>

<script src="{{ asset('assets/js/angular.js') }}"></script>
<script src="{{ asset('assets/js/jquery.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script>
    angular.module('myApp', []).config(function($interpolateProvider){
        $interpolateProvider.startSymbol('<').endSymbol('>');
    });
</script>