{% extends "AcmeDemoBundle::custom_layout.html.twig" %}

{% block title %}AcmeDemoBundle:Jevgeni:hello{% endblock %}

{% block body %}
    <2+2>
    <h1>Welcome to the Jevgeni:hello page, {{ name }}</h1>
{% endblock %}
